$font-color: #5c7b98;
$header-background: #dde7f1;
$light-blue: #00b9fe;
$link-hover: #613993;

@font-face {
    font-family: 'elektra_light_pro';
    src: url('../fonts/Elektra Light Pro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'elektra_medium_pro';
	src: url('../fonts/Elektra Medium Pro');
	font-weight: normal;
    font-style: normal;
}